<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aircommercialservices.vechcheck">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".secondactivity" />
        <activity android:name=".TrailerInput" />
        <activity android:name=".VehicleInput" />
        <activity android:name=".TrailerInspection" />
        <activity android:name=".VehicleInspection" />
        <activity android:name=".Rectification" />
        <activity
            android:name=".defectActivity"
            android:theme="@style/AppTheme.popup" />
        <activity
            android:name=".Information"
            android:theme="@style/AppTheme.popup" />
        <activity
            android:name=".newuser"
            android:theme="@style/AppTheme.popup" />
        <activity
            android:name=".insidecab"
            android:theme="@style/AppTheme.popup" />
        <activity
            android:name=".cabexterior"
            android:theme="@style/AppTheme.popup"/>
        <activity
            android:name=".enginecomp"
            android:theme="@style/AppTheme.popup"/>
        <activity
            android:name=".groundlevel"
            android:theme="@style/AppTheme.popup"/>
        <activity
            android:name=".underalongsidevec"
            android:theme="@style/AppTheme.popup"/>
        <activity
            android:name=".brakeandtyres"
            android:theme="@style/AppTheme.popup"/>
        <activity
            android:name=".UnderAlongsideTrailer"
            android:theme="@style/AppTheme.popup"/>
        <activity
            android:name=".TrailerSuspensionandsteering"
            android:theme="@style/AppTheme.popup"/>
        <activity
            android:name=".Trailerbrakesandtyres"
            android:theme="@style/AppTheme.popup"/>
        <activity
            android:name=".trailerlamps"
            android:theme="@style/AppTheme.popup"/>

    </application>

</manifest>